
{% extends "base.html" %}
{% block title %} Flowers {% endblock %}
   
   
{% block content %}

    <h3>My favorite flower is:  {{flower}}  </h3>

    {% if flower == "rose" %}
        <img src = "https://www.classicroses.co.uk/media/catalog/product/cache/6e9e0330b981bee0eba0610998958c79/y/o/you_re_beautiful_bm_2019_2_1000px.jpg">
    {% elif flower == "tulip" %}
        <h2>this is tulip</h2>  
    {% else %}
        <h2> I don't know this flower</h2>
    {% endif %}
    
{% endblock %}
