<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table border="1">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>           
        <tbody>
            <tr>
                <td>1</td>
                <td>Arja</td>
                <td>32423</td>
                <td>arja@wf.com</td>
                <td>
                    <img src="arja.png" height="100px">
                </td>
                <td>
                    <button>Edit</button>
                    <button onclick=deleteRow(this)>Delete</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>John</td>
                <td>1132423</td>
                <td>john@theWall.com</td>
                <td>
                    <img src="john.png" height="100px">
                </td>
                <td>
                    <button>Edit</button>
                    <button onclick=deleteRow(this)>Delete</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Thyrion</td>
                <td>234</td>
                <td>thyrion@KL.com</td>
                <td>
                    <img src="Thyrion.png" height="100px">
                </td>
                <td>
                    <button>Edit</button>
                    <button onclick=deleteRow(this)>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>