<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Add contact</title>
</head>
<body>
 
    
    <form class="my-form" action="/viewContacts" method="get">
        <h1>Add Contacts Form</h1>
        <!-- name -->
        <div>
            <label id = "fullNameLable" for="fullname">Enter your name:</label>
            <input type="text" name="fullname" id="fullname" required>
        </div>
        <!-- email -->
        <div>
            <label for="email">Enter your email:</label>
            <input type="email" name="email" id="email">
        </div>
        <!-- phone -->
        <div>
            <label for="phone">Enter your phone:</label>
            <input type="tel" name="phone" id="phone" required>
        </div>
        <!-- Gender -->
         <div>
            <label for="gender">Select your gender:</label>
            <select name="gender" id="gender">
                <option value="Male">Male</option>    
                <option value="Female">Female</option>
                <option value="Other">Other</option>       
            </select>
         </div>
         <!-- agree Checkbox -->
         <div>
            <label for="agree">I agree:</label>
            <input type="checkbox" name="agree" id="agree" required>
        </div>
        <!-- submit-->
         <button type="submit">Add to Contacts</button>
    </form>

    <script src="/static/js/script.js"></script>
</body>
</html>